---
layout: default
title: Artiklar
---


{% for tag in site.tags %}
    <h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
    <div class="post-list">
        {% for post in tag[1] %}
            <a class="post-link" href="{{ post.url | relative_url }}" style="background-image: linear-gradient({{ site.colorshade }}) , url(/media/{{ post.image }}.jpg);">
                <article>
                    <header>
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        <p>
                            <strong>{{ post.title | escape }}</strong>
                        </p>
                        <p>
                            {{ post.date | date: date_format }}
                        </p>
                    </header>
                </article>
            </a>
        {% endfor %}
    </div>
{% endfor %}