---
layout: default
title: Start
tags: eHälsa eHealth telemedicin sverige ehalsasverige
backgrounds: start
security_policy: "script-src 'self' https://cdn.mxpnl.com/* https://static.cloudflareinsights.com/*"
sitemap:
  exclude: 'yes'
footer: '<script src="/assets/js/event.js" defer></script><script src="/assets/js/post.js" defer></script><script src="/assets/js/artiklar.js" defer></script><script src="/assets/js/nyheter.js" defer></script>'
---
<div class="change-order-mobile change-order">
    <section class="col-2 max">
      <div class="col-2-in">
        <h1>Samlingsplatsen för alla som påverkas av eHälsa</h1>
        <p>
          {{ site.descriptionHTML }}
        </p>
      </div>
      <div class="col-img col-2-in">
        <img src="/assets/images/illustration/start.svg" width="400" height="273" alt="Illustration som inkluderar några av målgrupperna eHälsa Sverige har">
      </div>
    </section>
    {%- if site.posts.size > 0 -%}
      <section class="post-card">
        <h2 style="display: none;">Senaste artiklarna</h2>
        {% assign sortedPosts = site.posts | sort: 'sitemap.lastmod' | reverse %}
        {%- for post in sortedPosts limit:4 -%}
          <a class="post-link mobile-min {{ post.image.path | slugify: "latin" }}" href="{{ post.url | relative_url }}">
            {%- assign date_format = site.minima.date_format | default: site.date_format -%}
            <p>
                {{ post.title | escape }}
            </p>
            <p>
              {% assign publicerad = post.date | date: date_format %}
              {% assign uppdaterad = post.sitemap.lastmod | date: date_format %}
              {%- if publicerad == uppdaterad -%}
                {{ publicerad }}
              {%- else -%}
                {{ uppdaterad }}
              {%- endif -%}
            </p>
          </a>
        {%- endfor -%}
      </section>
    {%- endif -%}
  </div>
  <section class="col-2 col-str">
    <div class="kontakt col-2-in">
      <h2 class="h3">
        Kontakt
      </h2>
      <p class="mobile-min">
        Denna plattform är under utveckling. Har du några idéer eller vet information som fattas, berätta det för oss!
      </p>
      <div id="contact-form">
        <label for="formMessage" class="min">Meddelande:</label>
        <textarea id="formMessage" onkeydown="checkEnter(event, 'contactButton')"></textarea>
        <input type="button" value="Skicka" id="contactButton" onclick="post(this, 'formMessage');">
      </div>
    </div>
    <div class="event col-2-in">
      <h2 class="h3">
        <a href="/kalender.html">Kommande event</a>
      </h2>
      <div id="event-wrapper">{% include loader.html id="eventLoader" style="display: none;" %}</div>
    </div>
    </section>
    <section class="col-2 max">
      <div class="col-img col-2-in mobile-hidden">
        <img src="/assets/images/illustration/knowledge.svg" width="400" height="273" alt="Bild som visar kvinna som står brevid ett papper">
      </div>
      <div class="col-2-in">
        <h2 class="h3">Senaste forskningen om eHälsa</h2>
        <div id="feedWrapper" class="mobile-min">
          <div id="feedContent" class="news-list">
            {% include loader.html id="feedLoader" style="display: none;" %}
          </div>
          <p><a href="https://pubmed.ncbi.nlm.nih.gov/?term=%28%28ehealth%29+OR+%28e-health%29%29+OR+%28%22digital+health%22%29&sort=date" title="Till sökning i PubMed" target="_blank" rel="noopener noreferrer">Mer artiklar (PubMed)</a></p>
        </div>
      </div>
    </section>
    <section class="col-1 max" id="shownyheter" style="display: none;">
      <h3>Senaste nyheterna om eHälsa</h3>
      <div id="newsContent"></div>
    </section>
    {%- include modal.html id="sendSuccess" class="modal-small" content="<img src=\"/assets/images/illustration/mail.svg\" width=\"200\" height=\"200\" class=\"modal-head-image\" alt=\"Mail illustration\"><p>Meddelande skickades!</p>" -%}
    {%- include modal.html id="sendError" class="modal-small" content="<img src=\"/assets/images/illustration/error.svg\" width=\"200\" height=\"200\" class=\"modal-head-image\" alt=\"Mail error\"><p>Meddelande kunde tyvärr inte skickas.</p>" -%}
  