<div id="{{ include.id }}" class="news-list">
    {% include loader.html id="feedLoader" style="display: none;" %}
</div>
<script>
    var {{ include.id }}Url = "{{ include.url }}";
    var {{ include.id }}Icons = {
        pubmed: {
            url: '/assets/images/icons/feeds/pubmed.svg',
            alt: 'PubMed ikon'
        }
    };
    var loadFile = function (filePath, done) {
        hideElement('feedLoader');
        var xhr = new XMLHttpRequest();
            xhr.onload = function () { return done(this.responseText) }
            xhr.open("GET", encodeURI(filePath), true);
            xhr.send();
    };
    var file = '{{ include.url }}';
    loadFile(file, function (responseText) {
        var data = JSON.parse(responseText).data;
        var wrapper = document.getElementById('{{ include.id }}');
        for( var i=0,t = data.length ; i < t ; ++i ){
            if(i == parseInt({{ include.antal }})){ break; };
            var item = data[i];
            var id = item.url.replace('www.', '').replace('http://', '').replace('https://', '').split('.')[0];
            var line = document.createElement('a');
                line.setAttribute('href', item.url);
                line.setAttribute('target', '_blank');
                line.setAttribute('alt', 'Klicka på länken för att komma till artikeln');
                line.setAttribute('rel', 'noopener noreferrer"');
                var date = document.createElement('span');
                    var datet = document.createTextNode(minDate(item.date));
                    date.appendChild(datet);
                line.appendChild(date);
                var icon = document.createElement('span');
                    var iconb = document.createElement('img');
                        iconb.setAttribute('src', {{ include.id }}Icons[id].url);
                        iconb.setAttribute('alt', {{ include.id }}Icons[id].alt);
                        iconb.setAttribute('height', '35px');
                        iconb.setAttribute('width', '35px');
                    icon.appendChild(iconb);
                line.appendChild(icon);
                var title = document.createElement('span');
                    var titlet = document.createTextNode(item.title);
                    title.appendChild(titlet);
                line.appendChild(title);
            wrapper.appendChild(line);
        };
        removeElement('feedLoader');
    });
</script>
