<ul id="feedContent"></ul>
<script type="text/javascript">
    var url = "{{ include.url }}";
    var feedxhr = new XMLHttpRequest();
        feedxhr.onreadystatechange = function(){
        if (feedxhr.readyState==4 && feedxhr.status==200) {
            var data = JSON.parse(feedxhr.responseText);
            if(data.status == 'ok'){
                var wrapper = document.getElementById('feedContent');
                for( var i=0,t = data.items.length ; i < t ; ++i ){
                    if(i == parseInt({{ include.antal }})){ break; };
                    var item = data.items[i];
                    var li = document.createElement('li');
                        var liA = document.createElement('a');
                            liA.setAttribute('href', item.link);
                            liA.setAttribute('target', '_blank');
                            liA.setAttribute('alt', 'Klicka på länken för att komma till artikeln');
                            liA.setAttribute('rel', 'noopener noreferrer"');
                            var liAText = document.createTextNode(item.title);
                            liA.appendChild(liAText);
                        li.appendChild(liA);
                    wrapper.appendChild(li);
                };
            }else{
                console.log(data.status);
            };
        };
    };
    feedxhr.open(
        'GET',
        'https://api.rss2json.com/v1/api.json?rss_url=' + encodeURI(url),
        true
    );
    feedxhr.send();
</script>
