{% if site.url != "http://localhost:4000"%}
    <div id="gdpr">
        <p>Vi använder kakor (cookies) för att utvärdera hemsidans innehåll, <a href="/cookiepolicy.html">policy för kakor</a>.</p>
        <div class="gdpr-button">
            <input type="button" class="gdpr-neka" value="Neka" onclick="nekaGDPR();">
            <input type="button" class="gdpr-tillat" value="Tillåt" onclick="tillatGDPR();">
        </div>
    </div>
    <script src="/assets/js/gdpr.js" defer></script>
{%- endif -%}