<head>
    {%- if page.description -%}
        {%- assign description = page.description -%}
    {%- else -%}
        {%- assign description = site.description -%}
    {%- endif -%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>{{ site.title }}: {{ page.title }}</title>

    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/assets/css/main.css" rel=preload />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
    
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    {%- if site.demo -%}
        <!-- Verify website ownership -->
        <meta name="google-site-verification" content="verification_token"><!-- Google Search Console -->
        <meta name="yandex-verification" content="verification_token"><!-- Yandex Webmasters -->
        <meta name="msvalidate.01" content="verification_token"><!-- Bing Webmaster Center -->
        <meta name="alexaVerifyID" content="verification_token"><!-- Alexa Console -->
        <meta name="p:domain_verify" content="code_from_pinterest"><!-- Pinterest Console-->
        <meta name="norton-safeweb-site-verification" content="norton_code"><!-- Norton Safe Web -->
    {%- endif -%}

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}: {{ page.title }}">
    <meta name="twitter:title" content="{{ site.title }}: {{ page.title }}">
    <meta name="subject" content="{{ page.title }}">
    <meta property="og:description" content="{{ description | truncate: 200, '...' }}">
    <meta name="description" content="{{ description | truncate: 155, '...'}}">
    <meta name="twitter:description" content="{{ description | truncate: 280, '...' }}">
    <meta property="og:locale" content="{{ page.lang | default: site.lang | default: "sv" }}">

    {%- if page.author.name -%}
        <meta name="author" content="{{ page.author.name }}">
    {%- endif -%}
    {%- if page.author.twitter -%}
        <meta name="twitter:creator" content="{{ page.author.twitter }}" />
    {%- endif -%}
    {%- if site.social.twitter.username -%}
        <meta name="twitter:site" content="{{ site.social.twitter.username }}">
    {%- endif -%}


    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">

    <meta property="og:type" content="website">
    {%- if page.tags -%}
        <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %}">
    {%- endif -%}

    {%- if page.image.path -%}
        <meta property="og:image" content="{{ page.image.path | absolute_url }}">
        <meta name="twitter:image" content="{{ page.image.path | absolute_url }}">
    {%- else -%}
        <meta property="og:image" content="{{ "/assets/images/ovrigt/ehalsasverige.jpg" | absolute_url }}">
        <meta name="twitter:image" content="{{ "/assets/images/ovrigt/ehalsasverige.jpg" | absolute_url }}">
    {%- endif -%}

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/icons/icons-192.png">
    
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="mobile-web-app-capable">

    <meta name="theme-color" content="#{{ site.color.dark }}">

    {%- if page.video -%}
        <link rel="stylesheet" href="/assets/css/openplayer.min.css">
    {%- endif -%}

    {% if page.karta == true %}
        <link rel="stylesheet" href="/assets/css/leaflet.css" />
        <script src="/assets/js/leaflet.js"></script>
    {% endif %}

    {% if page.chart == true %}
        <link rel="stylesheet" href="/assets/css/chartist.min.css">
        <script src="/assets/js/chartist.min.js"></script>
    {% endif %}
</head>