<header>
    <nav>
        <p>
            <a href="#" onclick="showHideMenu(this, event);" class="mobile-icon">
                <svg aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            </a>
            <a href="/index.html" class="title oneline">
                <img src="/favicon.svg" alt="Loggan till webbsidan" class="icon">
                {{ site.title }}
            </a>
        </p>
        <div class="nav-spacer"></div>
        <ul id="mainMenu" class="mobile-hidden">
            <li><a href="/index.html">Start</a></li>
            <li><a href="/kalender.html">Kalender</a></li>
            <li><a href="/artiklar/index.html">Artiklar</a></li>
            <li class="dropdown">
                <a href="/kategori.html">Kategorier</a>
                <ul class="dropdown-content">
                    {% for tag in site.tags %}
                        <li>
                            <a href="{{ site.url }}/kategori.html#{{ tag[0] }}" class="meny-kategorier">{{ tag[0] | replace: "_"," " }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="call-to-action oneline mobile-hidden"><a href="/2021/08/13/introduktion-till-ehalsa.html" class="button">Börja här</a></li>
            {%- if site.demo -%}
                <!--<li><a href="/karta.html">Karta</a></li>-->
                <!--<li><a href="/event.html">Event</a></li>-->
                <!--<li><a href="/kontakt.html">Kontakt</a></li>-->
            {%- endif -%}
        </ul>
    </nav>
</header>