<header>
    <nav>
        <p><a href="/index.html" class="title oneline">{{ site.title }}</a></p>
        <div class="nav-spacer"></div>
        <ul>
            <li><a href="/index.html">Start</a></li>
            <li><a href="/artiklar.html">Artiklar</a></li>
            {%- if site.demo -%}
                <!--<li><a href="/karta.html">Karta</a></li>-->
                <!--<li><a href="/event.html">Event</a></li>-->
                <!--<li><a href="/kontakt.html">Kontakt</a></li>-->
            {%- endif -%}
        </ul>
    </nav>
</header>