<header>
    <nav>
        <p><a href="/index.html" class="title oneline">{{ site.title }}</a></p>
        <div class="nav-spacer"></div>
        <ul>
            <li><a href="/index.html">Start</a></li>
            <li><a href="/kalender.html">Kalender</a></li>
            <li><a href="/artiklar.html">Artiklar</a></li>
            <li class="dropdown">
                <a href="/kategori.html">Kategorier</a>
                <ul class="dropdown-content">
                    {% for tag in site.tags %}
                        <li>
                            <a href="{{ site.url }}/kategori.html#{{ tag[0] }}" class="meny-kategorier">{{ tag[0] | replace: "_"," " }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {%- if site.demo -%}
                <!--<li><a href="/karta.html">Karta</a></li>-->
                <!--<li><a href="/event.html">Event</a></li>-->
                <!--<li><a href="/kontakt.html">Kontakt</a></li>-->
            {%- endif -%}
        </ul>
    </nav>
</header>