<div id="{{ include.id }}" style="height: {%- if include.height -%}{{ include.height }}{%- else -%}200px{%- endif -%};"></div>
<script>
    var markers = [{{ include.content }}];
    var mymap = L.map('{{ include.id }}').setView([{{ include.position }}], {{ include.zoom }});
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoidGVkZHlrbGFkZGthayIsImEiOiJja3NsazF6aTkwcDQyMnBudTRveW40bDByIn0.UOrVx1Mt69ZPKCJEpdwwjQ'
    }).addTo(mymap);
    for (var i = 0; i < markers.length; i++) {
        var iconobj = {iconUrl: '/assets/css/leaflet/circle.svg', iconSize: [30, 30], iconAnchor: [0, 0], popupAnchor: [0, 0]};
        if(!markers[i].id || markers[i].id == ''){}else{
            iconobj.className = 'karta-' + markers[i].id;
        };
        var circleIcon = L.icon(iconobj);
        if(!markers[i].text || markers[i].text == ''){
            L.marker([markers[i].latitud, markers[i].longitud], {icon: circleIcon}).addTo(mymap);
        }else{
            L.marker([markers[i].latitud, markers[i].longitud], {icon: circleIcon}).bindPopup(markers[i].text).addTo(mymap);
        };
    };
</script>