<div id="{{ include.id }}" data-test="{{ site.url }}"></div>
{%- if site.url == "http://0.0.0.0:4000" -%}{%- capture ehalsomyndigheten -%}{{ site.microserver.nyheter_ehalsomyndigheten.local }}{%- endcapture -%}{%- else -%}{%- capture ehalsomyndigheten -%}{{ site.microserver.nyheter_ehalsomyndigheten.live }}{%- endcapture -%}{%- endif -%}
{%- if site.url == "http://0.0.0.0:4000" -%}{%- capture skr -%}{{ site.microserver.nyheter_skr.local }}{%- endcapture -%}{%- else -%}{%- capture skr -%}{{ site.microserver.nyheter_skr.live }}{%- endcapture -%}{%- endif -%}
{%- if site.url == "http://0.0.0.0:4000" -%}{%- capture socialstyrelsen -%}{{ site.microserver.nyheter_socialstyrelsen.local }}{%- endcapture -%}{%- else -%}{%- capture socialstyrelsen -%}{{ site.microserver.nyheter_socialstyrelsen.live }}{%- endcapture -%}{%- endif -%}
<script>
    function handleEnter(el, e){if(e.keyCode == '13'){el.click();};};
    async function loadNews(){
        try {
            const headers = {
                Accept: "application/json",
                "Content-Type": "application/json",
            };
            let initObject = {
                method: 'GET',
                mode: 'cors',
                headers: headers
            };
            const ehalsomyndigheten = await fetch("{{ ehalsomyndigheten }}", initObject)
                .then(function (response) {
                    return response.json();
                })
                .catch(function (err) {
                    console.log("Something went wrong!", err);
                });
            const skr = await fetch("{{ skr }}", initObject)
                .then(function (response) {
                    return response.json();
                })
                .catch(function (err) {
                    console.log("Something went wrong!", err);
                });
            const socialstyrelsen = await fetch("{{ socialstyrelsen }}", initObject)
                .then(function (response) {
                    return response.json();
                })
                .catch(function (err) {
                    console.log("Something went wrong!", err);
                });
            const combined = ehalsomyndigheten.data.concat(skr.data,socialstyrelsen.data);
                combined.sort(function(a, b){return b.date.split(' ')[0].replace(/-/g, '') - a.date.split(' ')[0].replace(/-/g, '');});
                combined.length = 5;
            var rubriker = ['Datum', 'Rubrik', 'Utgivare'];
            var wrapper = document.getElementById('{{ include.id }}');
                var table = document.createElement('table');
                    table.setAttribute('class', 'rwd-table');
                    var thead = document.createElement('thead');
                        var theadline = document.createElement('tr');
                        for (let i = 0; i < rubriker.length; i++) {
                            var theadlinecol = document.createElement('th');
                                var theadlinecolt = document.createTextNode(rubriker[i]);
                                theadlinecol.appendChild(theadlinecolt);
                            theadline.appendChild(theadlinecol);
                        };
                        thead.appendChild(theadline);
                    table.appendChild(thead);
                    for (let i = 0; i < combined.length; i++) {
                        var line = document.createElement('tr');
                            line.setAttribute('onclick', 'window.open("' + combined[i].url + '", "_blank");');
                            line.setAttribute('tabindex', '0');
                            line.setAttribute('onkeypress', 'handleEnter(this, event);');
                            var date = document.createElement('td');
                                var datet = document.createTextNode(minDate(combined[i].date));
                                date.appendChild(datet);
                            line.appendChild(date);
                            var title = document.createElement('td');
                                var titleT = document.createTextNode(combined[i].title);
                                title.appendChild(titleT);
                            line.appendChild(title);
                            var utgivare = document.createElement('td');
                                var utgivaret = document.createTextNode(combined[i].source);
                                utgivare.appendChild(utgivaret);
                            line.appendChild(utgivare);
                        table.appendChild(line);
                    };
                    var footer = document.createElement('tr');
                        var footerCol = document.createElement('td');
                            footerCol.setAttribute('class', 'min');
                            footerCol.setAttribute('colspan', '3');
                            var footerColT = document.createTextNode(ehalsomyndigheten.source);
                            footerCol.appendChild(footerColT);
                        footer.appendChild(footerCol);
                    table.appendChild(footer);
                wrapper.appendChild(table);
            hideElement('{{ include.toshow }}');
        }catch (e) {
            console.log('Failed to load news: ' + e);
        };
    };
    loadNews();
</script>