---
sitemap:
  exclude: 'yes'
---
@import url('/assets/fonts/poppins/poppins.css');
a, .dropdown-content, input[type=button], .mobile-icon {
    transition: all 150ms linear;
}
html, footer {
    background-color: #{{ site.color.dark }};
}
footer {
    background-image: linear-gradient(0deg, rgba({{ site.color.shade.dark }},0) 10%, rgba({{ site.color.shade.dark }},1) 100%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23{{ site.color.medium }}' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23{{ site.color.medium }}'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
body {
    background-color: #FFF;
}
html, body, main, textarea {
    margin: 0px;
    padding: 0px;
}
html, body, main, textarea, input {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
strong, b {
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
.title {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon {
    height: 28px;
    width: 28px;
    margin-right: 3px;
}
header ul {
    font-size: 0.9rem;
}
nav, nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav {
    background-color: #{{ site.color.dark }};
    color: #FFF;
}
nav .nav-spacer {
    width: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: block;
    list-style-type: none;
    padding: 0.5rem;
}
nav ul li a {
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 2px #{{ site.color.dark }};
}
nav ul li a:hover {
    border-bottom: solid 2px #FFF;
}
nav ul li.call-to-action a {
    background-color: #{{ site.color.highlight }};
    color: #000;
}
nav ul li.call-to-action a:hover {
    border: hidden;
}
nav p .mobile-icon {
    display: none;
    float: right;
    cursor: pointer;
    color: #FFF;
}
nav p .mobile-icon:hover svg {
    color: #{{ site.color.light }};
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    padding-top: 20px;
    margin-top: 2px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    background-color: #{{ site.color.dark }};
}
.dropdown-content a {
    color: #FFF;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.change-order-mobile {
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, p, label {
    margin-right: 10px;
    margin-left: 10px;
}
h1 {
    font-size: 1.4rem;
}
.title {
    color: #FFF;
    text-decoration: none;
}
.min {
    font-size: .8rem;
}
.err-message {
    font-size: 1rem;
}
.light-bg {
    background-color: #{{ site.color.light }};
}
.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.col-2.max {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.col-2 .col-img {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.col-2 .col-img img {
    width: 80%;
    height: auto;
}
.col-2 .col-2-in {
    width: 50%;
}
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #FFF;
    padding-bottom: 200px;
    padding-top: 40px;
}
footer .footer-col {
    width: 33%;
}
footer a {
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 2px #{{ site.color.dark }};
}
footer a:hover {
    border-bottom: solid 2px #FFF;
}
footer ul li {
    list-style-type: none;
    padding: 0.5rem;
}
footer svg {
    width: 0.8rem;
    vertical-align: middle;
}
#gdpr {
    display: none;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 3px;
    background-color: #{{ site.color.dark }};
}
#gdpr p {
    width: 100%;
    font-weight: 100;
    margin: 3px 5px;
    font-size: 0.8rem;
}
#gdpr p, #gdpr p a {
    color: #FFF;
}
#gdpr .gdpr-button {
    white-space: nowrap;
    padding: 5px;
}
#gdpr .gdpr-button input[type=button] {
    margin-right: 5px;
    padding: 3px 5px;
}
.button svg {
    height: 28px;
    width: 28px;
    vertical-align: middle;
}
.button, input[type=button] {
    display: inline-block;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    border: hidden;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: #{{ site.color.primary }};
    color: #FFF;
}
#gdpr .gdpr-neka {
    background-color: #{{ site.color.medium }};
    color: #FFF;
}
.button:hover, input[type=button]:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #{{ site.color.medium }};
}
.oneline {
    white-space: nowrap;
}
.center {
    text-align: center;
}
.col-str {
    align-items: stretch;
}
.kontakt, .event {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.event h3 a {
    color: #000;
    text-decoration: none;
}
.event h3 a:hover {
    text-decoration: underline;
}
.kontakt {
    background-image: url(/assets/images/illustration/contact.svg);
    color: #FFF;
    background-color: #{{ site.color.dark }};
}
.kontakt p {
    max-width: 500px;
}
#contact-form textarea, #contact-form input {
    font-size: 1rem;
    display: block;
    margin: 10px;
}
#contact-form textarea {
    opacity: .9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    max-width: 400px;
    min-height: 200px;
}
textarea.send-approved {
    background-image: url(/assets/images/illustration/mail.svg);
    background-color: #FFF;
}
textarea.send-error {
    background-image: url(/assets/images/illustration/error.svg);
    background-color: rgb(255, 144, 144);
}
textarea.send-approved, textarea.send-error {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    opacity: 1;
}
.event {
    background-image: url(/assets/images/illustration/cal.svg);
    background-color: #{{ site.color.light }};
    padding-bottom: 20px;
}
a.cal-ev {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: #000;
}
a.cal-ev .cal-ev-col {
    padding: 10px;
}
.cal-ev .cal-ev-col:first-child {
    border-right: solid 1px #000;
    background-color: #{{ site.color.dark }};
    color: #FFF;
    border-radius: 10px 0px 0px 10px;
}
.cal-ev .cal-ev-col:first-child div {
    text-align: center;
    width: 100%;
}
.cal-ev .cal-ev-col:last-child {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.posthead {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.posthead h1 {
    display: inline-block;
}
.posthead h1 {
    padding-top: 10rem;
    font-size: 2rem;
    color: #FFF;
    margin-bottom: 0px;
}
.posthead p {
    display: block;
    color: #FFF;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.posthead h1, .posthead time, .post-link {
    text-shadow: 2px 0 0 #{{ site.color.dark }}, -2px 0 0 #{{ site.color.dark }}, 0 2px 0 #{{ site.color.dark }}, 0 -2px 0 #{{ site.color.dark }}, 1px 1px #{{ site.color.dark }}, -1px -1px 0 #{{ site.color.dark }}, 1px -1px 0 #{{ site.color.dark }}, -1px 1px 0 #{{ site.color.dark }};
}
.calendarbody {
    padding-top: 10px;
}
.calendarbody {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.postwrapper {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
}
.postwrapper .sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #{{ site.color.dark }};
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.postwrapper .sticky a {
    color: #FFF;
    text-decoration: none;
}
.postwrapper .sticky a:hover {
    color: #{{ site.color.light }};
    cursor: pointer;
}
.postwrapper .sticky svg {
    width: 30px;
    height: 30px;
}
.postwrapper .sticky span {
    display: none;
}
.postbody {
    padding-top: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.postbody a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
.postbody img {
    display: block;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.postbody table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    font-size: 0.8rem;
}
.postbody table td, .postbody table th {
    border-collapse: collapse;
    padding: 5px;
    border: solid 1px #{{ site.color.light }};
}
.postbody .tagwrapper {
    padding: 5px;
}
.postbody .tagwrapper .tag {
    display: inline-block;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    background-color: #{{ site.color.medium }};
}
.postbody .tagwrapper .tag a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #FFF;
}
.postbody .tagwrapper .tag:hover {
    background-color: #{{ site.color.primary }};
}
.postbody .tagwrapper .tag:hover a {
    color: #FFF;
}
.postbody .post-footer {
    background-color: #{{ site.color.light }};
    padding-top: 10px;
    padding-bottom: 10px;
}
.post-card, .post-list {
    display: flex;
    align-content: stretch;
}
.post-card {
    flex-direction: row;
}
.post-list {
    flex-direction: column;
}
.post-link {
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    color: #FFF;
    box-sizing: border-box;
    font-size: .8rem;
    padding-top: 100px;
}
.post-link:hover {
    opacity: .95;
}
.post-link p {
    margin-top: 3px;
    margin-bottom: 3px;
}
.post-card .post-link {
    width: 100%;
}
.post-content {
    position: relative;
    max-height: 60px;
    max-width: 600px;
    overflow: hidden;
}
.pagination {
    text-align: center;
    padding: 20px 10px;
}
.kategori {
    display: none;
}
#feedWrapper {
    padding-right: 5px;
}
.screen-reader-only {
    position: relative;
}
.screen-reader-only p {
    text-align: center;
}
.screen-reader-only a {
    position: absolute;
    left: -5000px;
    width: 100%;
    color: #000;
    padding: 10px 0px;
    background-color: #{{ site.color.light }};
}
.screen-reader-only a:focus {
    left: 0;
    top: 50px;
}
@media only screen and (max-width: 800px) {
    .mobile-min {
        font-size: .8rem;
    }
    .posthead h1 {
        font-size: 1.5rem;
        padding-top: 5rem;
    }
}
@media only screen and (max-width: 740px) {
    .mobile-left {
        text-align: left;
    }
    nav {
        flex-direction: column;
    }
    nav, nav ul {
        align-items: flex-start;
    }
    #mainMenu {
        align-items: center;
    }
    .postwrapper {
        flex-direction: column-reverse;
    }
    .postwrapper .sticky {
        position: relative;
        top: 0px;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        text-align: center;
    }
    .postwrapper .sticky span {
        display: inline-block;
        color: #FFF;
    }
    .postwrapper .sticky svg {
        vertical-align: middle;
    }
}
@media only screen and (max-width: 600px) {
    .post-card {
        flex-direction: column;
    }
    .post-card .post-link {
        width: 100%;
    }
    .change-order-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
    .col-2 {
        flex-direction: column;
    }
    .col-2 .col-2-in {
        width: 100%;
    }
    .col-2 .col-img {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .col-2 .col-img img {
        width: 50%;
    }
    nav, nav ul {
        flex-direction: column;
    }
    #mainMenu {
        align-items: flex-start;
    }
    nav {
        padding-right: 10px;
        padding-left: 10px;
    }
    nav p {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    nav p .mobile-icon {
        display: block;
    }
    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: none;
    }
    footer {
        flex-direction: column;
    }
    footer .footer-col {
        width: 100%;
    }
    .mobile-hidden {
        display: none;
    }
}