<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "sv" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main>
      <section>
        <article itemscope itemtype="http://schema.org/BlogPosting">
          <header class="posthead" style="background-image: linear-gradient({{ site.colorshade }}) , url(/media/{{ page.image }}.jpg);">
              <h1>{{ page.title }}</h1>
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  {{ page.date | date: date_format }}
              </time>
          </header>
          <div class="postbody">
              {{ content }}
              <div class="tagwrapper">
                {% for tag in page.tags %}
                  <p class="min tag">{{ tag }}</p>
                  {%- if site.demo -%}
                    <!--Hämtar andra artiklar med samma taggar.-->
                    <!--<ul>
                      {% for post in tag[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                      {% endfor %}
                    </ul>-->
                  {%- endif -%}
                {% endfor %}
              </div>
          </div>
        </article>
      </section>
    </main>

    {%- include footer.html -%}

  </body>

</html>
